[flake8]
max-line-length=79
import-order-style=appnexus
application-import-names=tgbot
ignore=
    # D100 Missing docstring in public module
    D100,
    # D101 Missing docstring in public class
    D101,
    # D102 Missing docstring in public method
    D102,
    # D103 Missing docstring in public function
    D103,
    # D104 Missing docstring in public package
    D104,
    # D105 Missing docstring in magic method
    D105,
    # D107 Missing docstring in __init__
    D107,
    # W504 line break after binary operator
    W504,
    # Found `finally` in `try` block without `except`
    WPS501,
    # Found class without a base class
    WPS306,